body {
  font-family: 'Roboto Mono', monospace;
}

button {
  border-style: none;
  font-size: 14px;
}

button:hover {
  background-color: rgb(231, 231, 231);
}

li {
  float: left;
  padding: 2px;
  border: 2px 1px 2px 1px solid black;
  border-radius: 8px;
}

li a {
  display: block;
  text-align: center;
  overflow: hidden;
  margin: 8px;
}

table {
  position: relative;
}

th {
  position: sticky;
  top: 0;
  background: white;
}

td {
  max-height: 150px;
  min-height: 50px;
  padding: 10px
}

.listingName {
  max-width: 250px;
}

.listingDesc {
  max-width: 350px;
}

.longDesc {
  max-height: 150px;
  min-height: 50px;
  overflow: scroll;
}

.listingImg {
  max-width: 250px;
  max-height: 150px;
}

.listingSrcImg {
  max-width: 50px;
  max-height: 50px;
}

td.listingCell {
  max-width: 100px;
  text-align: center;
}

.listingLink {
  color: rgb(117, 117, 117);
}

.listingLink:hover {
  color: rgb(187, 187, 187);
}

.active {
  background-color: rgb(187, 187, 187);
}

li:hover {
  background-color: rgb(231, 231, 231);
}

.paginateOuter {
  display: table;
  margin: 0 auto;
}

.pagination {
  list-style-type: none;
  overflow: hidden;
}

#searchResults {
  max-height: 650px;
  min-height: 650px;
  overflow: scroll;
}

.hide {
  display: none;
}